<div class="container-fluid carousel slide" data-bs-ride="carousel" id="carousel">
   <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/6567619/pexels-photo-6567619.jpeg?cs=srgb&dl=pexels-tim-douglas-6567619.jpg&fm=jpg" alt="" class="ratio ratio-21*9">
    </div>
    <div class="carousel-item">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/029/305/833/small_2x/clothing-shop-s-hangers-exhibit-modern-fashion-highlighting-the-boutique-s-stylish-ambiance-ai-generated-photo.jpg" alt="" class="ratio ratio-21*9">
    </div>
    <button class="carousel-control-prev" data-bs-target="#carousel" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></button>
    <button class="carousel-control-next" data-bs-target="#carousel" data-bs-slide="next"><span class="carousel-control-prev-next"></span></button>

   </div>
</div>

<div class="container"> 
    <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" >
        <app-card></app-card>
    </div>
</div>
</div>
